@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --font-color: rgb(255, 255, 255);
    --border-color: rgb(165, 165, 165);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, rgb(116, 253, 132),rgb(251, 102, 102));
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-container {
    height: 80%;
    width: 500px;
    border-radius: 20px;
    background-color: rgb(17, 17, 17);
    border: 1px solid var(--border-color);
    box-shadow: 1px 1px 5px rgba(226, 226, 226, 0.264), 
        -1px -1px 5px rgba(226, 226, 226, 0.264);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
}

#todo-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 2.5rem;
    border-bottom: 1px solid var(--border-color);
}

#task-container {
    display: grid;
    grid-template-areas: 't t'
                         'i b';
    grid-template-rows: 30px 30px;
    row-gap: 8px;
    column-gap: 8px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
}

#task-title, #search-title, #filter-title {
    grid-area: t;
    font-size: 1.4rem;
}

.task-input, .search-bar, .filter-select {
    grid-area: i;
    border: 1px solid rgb(120, 120, 120);
    transition: 0.15s;
    font-size: 1rem;
    padding-left: 10px;
}

.task-input:hover, .search-bar:hover, .filter-select:hover {
    border-color:rgb(89, 89, 89);
    box-shadow: inset 0.1px 0.1px 5px rgba(97, 96, 96, 0.264), 
        inset -0.1px -0.1px 5px rgba(97, 96, 96, 0.264);
}

.task-input::placeholder, .search-bar::placeholder, .filter-select {
    color: rgb(100, 100, 100);
}

.add-task-button, .search-button {
    grid-area: b;
    width: 35px;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: none;
    border: 1px solid rgb(120, 120, 120);
    transition: 0.15s;
}

.add-task-button:hover {
    background-color: rgb(63, 63, 63);
    color: white;
}

#search-filter-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    justify-content: space-between;
    column-gap: 15px;
    padding-top: 12px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-color);
}

#search-box, #filter-box {
    display: grid;
    grid-template-areas: 't t'
                         'i b';
    grid-template-rows: 30px 30px;
    column-gap: 8px;
    row-gap: 7px;
}

#search-box {
    padding-right: 25px;
    border-right: 1px solid var(--border-color);
}

#filter-box {
    padding-left: 15px;
}

.search-button img {
    width: 20px;
}

#item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    transition: 0.15s;
    font-size: 17px;
    padding-left: 5px;
}

#item-buttons {
    display: flex;
    gap: 8px;
    padding-right: 5px;
}

#remove-button, #check-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: none;
    border: 1px solid rgb(120, 120, 120);
    transition: 0.15s;
    font-size: 17px;
}

#remove-button {
    background-color: rgb(254, 61, 61);
    color: white;
}

#remove-button:hover {
    background-color: rgb(255, 0, 0);
}

#check-button {
    background-color: rgb(42, 200, 66);
    color: white;
}

#check-button:hover {
    background-color: rgb(0, 255, 38);
}

.done li {
    color: rgb(228, 228, 228);
    text-decoration: line-through;
    font-style: italic;
}

.done {
    background-color: rgba(48, 48, 48, 0.316)
}

@media (max-width: 1700px) {
    .todo-container {
        width: 450px;
    }

    #todo-title {
        font-size: 2.2rem;
    }
    
    #task-title, #search-title, #filter-title {
        font-size: 1.2rem;
    }
    
    .task-input, .search-bar, .filter-select {
        font-size: 0.9rem;
        padding-left: 8px;
    }

    #task-container {
        row-gap: 3px;
        column-gap: 5px;
        padding-top: 16px;
        padding-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .todo-container {
        width: 300px;
    }

    #todo-title {
        font-size: 1.6rem;
    }
    
    #task-title, #search-title, #filter-title {
        font-size: 0.9rem;
    }
    
    .task-input, .search-bar, .filter-select {
        font-size: 0.7rem;
        padding-left: 3px;
    }

    .search-bar, .filter-select {
        width: 100px;
    }

    #task-container {
        padding-bottom: 18px;
    }

    #search-box, #filter-box {
        column-gap: 5px;
        row-gap: 2px;
    }
}